In [2]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

# 1. (16 Points) Expressions
A table named `pay` contains one row for each UC Berkeley faculty member and these columns:

* `dept`: a string, the department of the faculty member
* `name`: a string, the first name of the faculty member
* `role`: a string, one of: Assistant Professor, Associate Professor, Professor, or Lecturer
* `salary`: an int, last year's salary paid by the university

In [3]:
dept = make_array('Journalism', 'Economics', 'South & Southeast Asian Studies')
name = make_array('Jeremy', 'Christina', 'Penelope')
role = make_array('Lecturer', 'Professor', 'Associate Professor')
salary = make_array(111528, 349727, 127119)

pay = Table().with_column(
    'dept', dept,
    'name', name,
    'role', role,
    'salary', salary
)

pay

dept                            | name      | role                | salary
Journalism                      | Jeremy    | Lecturer            | 111528
Economics                       | Christina | Professor           | 349727
South & Southeast Asian Studies | Penelope  | Associate Professor | 127119

Fill in the blanks of the Python expressions to compute the described values. You must use all and only the lines provided. The last (or only) line of each answer should evaluate to the value described. Assume that the statements `from datascience import *` and `import numpy as np` have been executed.

**(a)** (2 pt) The total salary amount paid to all faculty

In [ ]:
________________(pay.____________________(______________________________________________))

In [4]:
# Answer
sum(pay.column('salary'))

588374

**(b)** (3 pt) The name of the third highest paid faculty member. (Assume no two faculty have the same salary.)

In [ ]:
pay._________(_________ , _____________________________).column(_________).item(_________)

In [5]:
# Answer
pay.sort('salary', descending = True).column('salary').item(2)

111528

**(c)** (3 pt) The number of lecturers in the department that has the most lecturers. (One has more than the rest.)

In [ ]:
max(pay._________(_________ , ___________________)._________(____________).column(’count’))

In [9]:
# Answer
max(pay.where('role', 'Lecturer').group('dept').column('count'))

1

**(d)** (3 pt) The average faculty salary after all faculty members get a 10% raise each year for three years.

In [13]:
np.average(pay.column('salary') * (1.1**3))

261041.93133333346

**(e)** (5 pt) The table `big` (created below) only contains rows for faculty in departments that have both `Lecturers` and `Professors`. Using big, compute the minimum **pay gap** for any department. The **pay gap** is the absolute difference between a department’s average `Lecturer` salary and its average `Professor` salary.

In [15]:
has_lecturer = pay.pivot('role', 'dept').where('Lecturer', are.above(0))
has_lecturer

dept       | Associate Professor | Lecturer | Professor
Journalism | 0                   | 1        | 0

In [16]:
has_both = has_lecturer.where('Professor', are.above(0))
has_both

dept | Associate Professor | Lecturer | Professor

In [17]:
big = pay.where('dept', are.contained_in(has_both.column('dept')))
big

dept | name | role | salary

In [ ]:
avg = big._____________(______________ , ______________ , ______________ , ______________)

_____________(______________(avg.column(________________) - avg.column(________________)))

In [20]:
# Ans
avg = big.pivot('role', 'dept', 'salary', np.average)
min(abs(avg.column('Lecturer') - avg.column('Professor')))

dept

# 2. (14 points) Distributions

Galton measured the heights of the members of **200 families** that each included 1 mother, 1 father, and some varying number of adult sons. The three histograms of heights below depict the distributions for all mothers, fathers, and adult sons. **All bars are 2 inches wide. All bar heights are integers**. The heights of all people in the data set are included in the histograms.

<img src = 'galton.jpg' width = 1000/>

**(a)** (8 pt) Calculate each quantity described below or write Unknown if there is not enough information above to express the quantity as a single number (not a range). Show your work!

i. The percentage of mothers that are at least 60 inches but less than 64 inches tall.

In [21]:
# Calculate the total area of the bars that are between 60-64 inches.
2*6 + 14*2

40

ii. The percentage of fathers that are at least 64 but less than 67 inches tall.

**Ans**: Unknown. We have a bar that represents the percentage of Father's heights in a range 66-68 inches, but we need one that represents up to exactly 67 inches.

iii. The number of sons that are at least 70 inches tall.

**Ans**: Unknown. We don't know the total number of sons in the data.

iv. The number of mothers that are at least 60 inches tall.

In [24]:
# Calculate the total area of the bars that represent mothers with less than 60 inches height
2 * 2

4

In [25]:
# The percentage of mothers that are at least 60 inches tall is 100 - above
100 - 4

96

In [26]:
# We know that there are 200 families that consists of a mother each. That means there are
# 200 mothers. We can use the percentage to calculate the number of mothers that are at least 60
# inches tall.
200 * 96 / 100

192.0

**(b)** (2 pt) If the father’s histogram were redrawn, replacing the two bins from 72-to-74 and from 74-to-76
with one bin from 72-to-76, what would be the height of its bar? If it’s impossible to tell, write Unknown.

In [28]:
# From 72-74, we have 6%
# From 74-76, we have 2%
# Thus for total area, we have:
2* (6 + 2)

16

In [29]:
# Now from 72-76, the width of the bar is 4. Thus, the height would be 16 / 4
16 / 4

4.0

**(c)** (4 pt) The percentage of sons that are taller than all of the mothers is between ________ and ________. Fill in the blanks in the previous sentence with the smallest range that can be determined from the histograms, then explain your answer below.

#### Ans
From the mother's histogram, we can see that the tallest mothers are between 70 - 72 inches.

1. We can rule out that as long as the height of the sons are above 72 inches, they should be taller than all mothers. This would be the minimum range
2. However, we need to take into account the sons that are 70-72 inches tall as well, since some of them might be taller than all mothers. This would be the maximum range.

In [35]:
# The area of the bar of the sons with at least 72 inches height
2 * (8 + 2)

20

In [33]:
# The total area of the bars for the sons that are at least 70 inches height
2 * ( 14 + 8 + 2)

48

Thus, the percentage of sons that are taller than all of the mothers is between 20 to 48.

# 3. (12 points) Probability

**(a)** (3 pt) A basket of 10 colored tickets contains 1 blue, 1 gold, 4 green, and 4 red tickets. If you draw 6 tickets uniformly at random with replacement, what is the chance that you draw at least one that is either blue or gold? Write your answer as a Python expression that computes the result exactly (no simulation).

# ========== Ans ==========
1. The chance of not drawing blue or gold in a draw is $ \frac{8}{10} $.
2. The chance of above happening 6 times consecuvtively is $ {\frac{8}{10}}^6 $
3. The chance of above not happening at all is $ 1 - {\frac{8}{10}}^6 $

In [36]:
1 - (8/10)**6

0.7378559999999998

**(b)** (5 pt) The `roll` function draws an empirical histogram of the number of results that are `k` or larger, when `n` fair 6-sided dice are rolled. For example, if `k` is 5, `n` is 3, and rolling 3 dice results in a 6, a 4, and a 5, then 2 of the 3 dice are 5 or larger (the 6 and the 5). Fill in the blanks to complete its implementation.

In [37]:
def roll(k, n, trials):
    """ Repeatedly roll n dice and check how many results are k or larger """
    outcomes = make_array()
    possible_results = ...
    
    for i in np.arange(trials):
        rolls = np.random.choice(possible_results, ...)
        outcomes = np.append(..., np.count_nonzero(...))
    
    Table().with_column('Outcomes', outcomes).hist(bins = np.arange(30))

SyntaxError: invalid syntax (<ipython-input-37-9c134dc2b3d8>, line 4)

In [39]:
# Answer
def roll(k, n, trials):
    """ Repeatedly roll n dice and check how many results are k or larger """
    outcomes = make_array()
    possible_results = np.arange(1, 7)
    
    for i in np.arange(trials):
        rolls = np.random.choice(possible_results, n)
        outcomes = np.append(outcomes, np.count_nonzero(rolls >= k))
    
    Table().with_column('Outcomes', outcomes).hist(bins = np.arange(30))

**(c)** (4 pt) For each of the histograms below, circle the letter of the expression that generated it, assuming roll is implemented correctly above.

<img src = 'hist_1.jpg' width = 400/>

(A) roll(4, 30, 5000)
(B) roll(6, 30, 5000) 
(C) roll(4, 30, 50) 
(D) roll(6, 30, 50)

Answer: (B)
Assuming that the die is fair, theoretically we have a 1/6 probability to obtain each face in a die. This means if we roll 30 die, theoretically we would obtain `6` 5 times. On top of that, recall that the more simulation we do, the more the histogram would look like it comes from a normal distribution (bell-shaped).

<img src = 'hist_2.jpg' width = 400/>

(A) roll(4, 30, 5000)
(B) roll(6, 30, 5000)
(C) roll(4, 30, 50)
(D) roll(6, 30, 50)

Answer: (C)
From the histogram outcome, we don't see any bars around the outcomes close to `0`, which implies that `k` is a number that, if we roll a dice and try to obtain a value that is at least `k`, it would be more likely to obtain it. Between `4` and `6`, it is more likely to obtain a roll that is at least `4`. Thus the answer should be either (A) or (C)

We pick (C) by taking into account that the more simulations we do, the more the histogram would look like something that come from a normal distribution. Since the histogram does not resemble a bell-shape, the number of trials should be relatively small. Between `5000` and `50`, it is likely that the histogram corresponds to `50` trials. Thus we pick (C).

# 4. (8 points) Hypothesis Testing
A recent paper called "Do animals bite more during a full moon?" analyzed 1,660 emergency room visits for animal bites over a two-year period. The table shows bite counts by the day of the lunar cycle. In the lunar cycle, the moon is full on days 29, 30, and 1. On all other days, the moon is not full.

In [40]:
Day = make_array('17, 18, 19', '20, 21, 22', '23, 24, 25', '26, 27, 28', '29, 30, 1', '2, 3, 4', '5, 6, 7', '8, 9, 10', '11, 12, 13', '14, 15, 16')
Bites = make_array(136, 151, 162, 202, 268, 154, 141, 145, 147, 154)

Table().with_column(
    'Day', Day,
    'Bites', Bites
)

Day        | Bites
17, 18, 19 | 136
20, 21, 22 | 151
23, 24, 25 | 162
26, 27, 28 | 202
29, 30, 1  | 268
2, 3, 4    | 154
5, 6, 7    | 141
8, 9, 10   | 145
11, 12, 13 | 147
14, 15, 16 | 154

**(a)** (4 pt) Fill in the blanks of this null hypothesis so that it can be tested using the data above and so that it would help inform the question of whether there is a relation between bite frequency and the full moon.

The day of the lunar cycle on which an animal bites is drawn ____________________________________,
so the _____________________________________ that an animal will bite on days 29, 30, and 1 of
the lunar cycle is _________________. Any deviation from this proportion is due to _________________.

### Answer
The day of the lunar cycle on which an animal bites is drawn **uniformly at random**, so the **probability** that an animal will bite on days 29, 30, and 1 of the lunar cycle is **1/10**. Any deviation from this proportion is due to **chance (or random chance)**.

#### Note: 1/10 because we have 10 different bins, or 10 different values in the dataset.

**(b)** (4 pt) The histogram below shows the empirical distribution of a test statistic under the null hypothesis. It was generated by repeating the following process 1000 times: the lunar day for each of 1660 simulated animal bites was chosen uniformly at random from 1 to 30. A test statistic was computed for each resulting list of 1660 days: the absolute difference between $ \frac{1}{10} $ and the proportion of bites on days 29, 30, and 1.

<img src = 'lunar.jpg' width = 500/>

(Note: The proportion of observed bites on lunar days 29, 30, and 1 was $ \frac{268}{1660} $ = 0.161.)

Fill in each blank in the conclusion below:

We _________________ the null hypothesis because the observed value of the _____________________
is ______________________, which is _________________________________ with the null distribution

## Answer
We **reject** the null hypothesis because the observed value of the **test statistic** is **0.061**, which is **inconsistent** with the null distribution.