In [ ]:
%load_ext tutormagic

# Processing Container Values

Processing container values often involve iterating over all values contained in a list or dictionary. However, there are some built-in functions that are more efficient.

## Sequence Aggregation

There are several functions that perform sequence aggregation. These functions take iterable arguments and aggregate them into a value.

### Sum

In [ ]:
sum(iterable[, start]) # --> Value
# [, start] argument is optional

`sum` returns the sum of an iterable argument of numbers (NOT strings) plus the value of parameter `start` (which defaults to `0`). When the iterable is empty, return `start`.

Example of using `sum` is as the following,

In [1]:
sum([2, 3, 4])

9

In [2]:
sum(['2', '3', '4']) # Will give out an error since the argument are strings

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Now with the `start` argument,

In [3]:
sum([2, 3, 4], 5)

14

We just added 5 to the sum of 2, 3, and 4. Why this is useful?

In case we are trying to add together values that are not just number, the values type need to be the same. If we want to add together different lists, we can use a list as the `start` argument. Below, we provide `[1]` as the `start` argument.

In [7]:
sum([[2, 3], [4]], [1])

[1, 2, 3, 4]

Below, we provide an empty list `[]` as the `start` argument.

In [10]:
sum([[2, 3], [4]], [])

[2, 3, 4]

Above is similar to the following,

In [12]:
[] + [2, 3] + [4]

[2, 3, 4]

Without the `start` value, the `sum` operation will give out an error,

In [11]:
sum([[2, 3], [4]])

TypeError: unsupported operand type(s) for +: 'int' and 'list'

Above is similar to,

In [13]:
0 + [2, 3] + [4]

TypeError: unsupported operand type(s) for +: 'int' and 'list'

### Max

In [ ]:
max(iterable[, key=func]) # -> value
max(a, b, c, ...[, key=func]) # -> value

# The [, key=func] argument is optional

The `max` function takes 2 forms:

1. Pass in an iterable (e.g. list)
    * With a single iterable argument, `max` returns its largest item
2. Pass in multiple different arguments (e.g. multiple numbers)
    * With 2 or more arguments, `max` returns the largest argument

An example of the #1 is the following,

In [14]:
max(range(5))

4

While an example of #2 is the following,

In [15]:
max(0, 1, 2, 3)

3

What about the `key = function`?

It applies a function to every element in the argument and then `max` will take the maximum of the result after the functions were applied. 

For example, we put in a parabola function where the maximum outcome can be acquired when the input value is `3`.

In [17]:
max(range(5), key = lambda x: 7 - (x-4) * (x-2))

3

If we try to manually try different arguments to the function,

In [18]:
(lambda x: 7 - (x-4) * (x-2)) (3)

8

In [19]:
(lambda x: 7 - (x-4) * (x-2)) (2)

7

In [20]:
(lambda x: 7 - (x-4) * (x-2)) (1)

4

In [21]:
(lambda x: 7 - (x-4) * (x-2)) (4)

7

In [22]:
(lambda x: 7 - (x-4) * (x-2)) (5)

4

As we can see, the greatest return value, `8`, can be acquired when the input is `3`.

### All

In [23]:
all(iterable) # -> bool

NameError: name 'iterable' is not defined

Returns `True` if `bool(x)` is `True` for all values `x` in the iterable. If the iterable is empty, return `True`.

Recall `0` and an empty string `''` evaluate to `False`. Otherwise, most values evaluates to `True` value.

In [24]:
bool('hello')

True

In [25]:
bool(-43)

True

Now if we have the following,

In [26]:
[x < 5 for x in range(5)]

[True, True, True, True, True]

Then `all` aggregates the expression and returns whether the return value are all `True`.

In [27]:
all([x < 5 for x in range(5)])

True

It will return `False` if even one of the values is `False`.

In [28]:
[x < 5 for x in range(6)]

[True, True, True, True, True, False]

In [29]:
all([x < 5 for x in range(6)])

False