# Select Grammar

We've seen a few variety of `select` statements in SQL.

## SQL Select Statements

The space of all `select` statements can be described using a grammar diagram that shows all the different alternative choices that we can choose along the way. 

<img src = 'select.gif' width = 500/>

At first, we choose either to use `with` or not at all. If we choose to use `with`, we can include as many `common-table-expression` as possible using comma `,`.

<img src = 'with.png' width = 500/>

When we're done with the `with` statement, the next step is to `select`, which can include `from` or `where` or `group by` or `window`. 

In the lecture, we didn't go over the `distinct` and `all`. `result-column` are the expressions that describe each column in the result.

<img src = 'select.png' width = 500/>

The `from` clause can list multiple different `table` separated by comma `,`. We can also do `subquery`, but it makes more sense to use the `with` statement to define `subquery`. We didn't go over `join-clause` at all.

<img src = 'from.png' width = 400/>

`where` and `group by` are straightforward. With `group by`, we can decide either to use the `having` statement or to skip it entirely.

<img src = 'where-group.png' width = 500/>

It's possible to enumerate `values` in a table directly, but we never did it in class because we instead use `union` to select multiple different values by their `result-column`. 

<img src = 'union.png' width = 500/>

We also went over `order by`,

<img src = 'order.png' width = 500/>

One last thing that we skipped is `limit`ing the number of results. We can, for example, set that we only want `10` results.

<img src = 'limit.png' width = 500/>