In [6]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

In [7]:
%%sql

create table parents as
    select "abraham" as parent, "barack" as child union
    select "abraham"          , "clinton"         union
    select "delano"          , "herbert"         union
    select "fillmore"          , "abraham"         union
    select "fillmore"          , "delano"         union
    select "fillmore"          , "grover"         union
    select "eisenhower"          , "fillmore";

 * sqlite://
(sqlite3.OperationalError) table parents already exists
[SQL: create table parents as
    select "abraham" as parent, "barack" as child union
    select "abraham"          , "clinton"         union
    select "delano"          , "herbert"         union
    select "fillmore"          , "abraham"         union
    select "fillmore"          , "delano"         union
    select "fillmore"          , "grover"         union
    select "eisenhower"          , "fillmore";]
(Background on this error at: http://sqlalche.me/e/e3q8)

# Projecting Tables

Now that we know how to create tables from scratch, we'll go over **projecting tables**.

## Select Statements Project Existing Tables

`select` statements can project existing tables into new tables. A `select` statement can specify an input table using a `from` clause. 

If we have the following `select` statement,

In [ ]:
select [expression] as [name], [expression] as [name], ...;

The cell above are all just description of columns.

<img src = 'column.png' width = 500/>

A `select` statement can have things other than columns description. The `from` clause indicates which table we're taking rows from.

In [ ]:
select [columns] from [table]

A subset of the rows of the input table can be selected using a `where` clause.

In [ ]:
select [columns] from [table] where [condition]

With the statement above, we will obtain certain rows from `[table]` that fulfills the `[condition]`.

An ordering over the remaining rows can be declared using an `order by` clause.

In [ ]:
select [columns] from [table] where [condition] order by [order];

We see that there are multiple parts to a `select` statement. Column descriptions determine how each input row (after filtered using `where` and ordered using `order by`) is projected to a result row. Every `select` statement creates a new table with rows and columns. 

Now back to the `parents` table of dogs. If we do the following,

In [4]:
%%sql
select child from parents where parent = "abraham";

 * sqlite://
Done.

[('barack',), ('clinton',)]

We obtain the `child` column containing rows whose `parent` is `"abraham"`.

Now if we do the following,

In [8]:
%%sql
select parent from parents where parent > child;

 * sqlite://
Done.

[('fillmore',), ('fillmore',)]

Comparison of string values is done based on alphabetical order. The statement `parent > child` means `parent` is later in alphabet than `child`. The output above makes sense since if we look at the tree once again,

<img src = 'dogs.png' width = 300/>

We see that both `"Abraham"` and `"Delano"` both have "`Fillmore"` as their parents, in which alphabetically `"Fillmore"` is greater. Other than those 2, there aren't any case where the first letter of the parent is greater than that of the child / children. 

We see that it's also possible to obtain duplicate rows repeated multiple times