In [1]:
%load_ext sql
%sql sqlite://

'Connected: @None'

# Structured Query Language (SQL)

## SQL Overview

The SQL language is standardized by ANSI and ISO standard. However, the people who built DBMS don't accept it; thus, there are multiple variants of SQL. Despite many variants, the language behaves mostly in a similar way regardless of which DBMS we use. We'll focus on part of the language that's universal.

A `select` statement creates a new table, either from scratch or by projecting a table. 

A `create table` statement gives a global name to a table

Lots of other statements available: `analyze`, `delete`, `explain`, `insert`, `replace`, `update`, etc. These statements are important in large industrial DBMS application.

Most of the important action is in the `select` statement. The code for executing `select` statements fits on a single sheet of paper (next lecture)
* We can build an interpreter for this language easily using Python. We'll go over the details in the next lecture.

## Getting Started with SQL

Install [sqlite](http://sqlite.org/download.html)

Use sqlite [online](http://kripken.github.io/sql.js/GUI/)

**Writer's Note**
In this Jupyter notebook, I used %%sql magic to execute sql statement within Jupyter.

## Selecting Value Literals

The first step is to obtain some data from some table. We use `select` statement for that using literal expressions to declare which data we want. A `select` statement always include a comma-separated list of **column descriptions**.

A **column description** is an expression, optionally followed by `as` and a column name. In the following cell:

In [ ]:
select [expression] as [name]

`[expression]` tells us what we're selecting, while `[name]` tells us the name of the column. We can add another column by adding comma `,` to the statement above. For example:

In [ ]:
select [expression] as [name], [expression] as [name]

The above cell creates a 2-column table. We can have as many columns as we want,

In [ ]:
select [expression] as [name], [expression] as [name], ...

And whenever we're done with adding columns, we add semicolon `;` at the end. All SQL statements end with semicolons `;`.

In [ ]:
select [expression] as [name], [expression] as [name];

Selecting literals (expressions such as number `2` or the string  `Berkeley`) creates a one-row table. If we want to create a multi-row table, we can `union` together 2 `select` statements. The `union` of 2 `select` statements generates a table containing the rows of both. We can only `union` together tables that have the same number of columns and the same type of information; however, the 2 `select` statements that we `union` together don't need to have the same names for the columns. It will just use the names of the first `select` statement.

Now let's say we have a database of names of dogs named under U.S. presidents.

In [2]:
%%sql
select "abraham" as parent, "barack" as child;

 * sqlite://
Done.

[('abraham', 'barack')]

Above, the program creates a one-row with 2 columns: a `parent` column and a `child` column. The values that go into those columns are strings.

If we have more dogs, we would have to use `union` instead of ending the statement with semicolon `;`.

In [3]:
%%sql
select "abraham" as parent, "barack" as child union
select "abraham"          , "clinton"         union
select "delano"          , "herbert"         union
select "fillmore"          , "abraham"         union
select "fillmore"          , "delano"         union
select "fillmore"          , "grover"         union
select "eisenhower"          , "fillmore";

 * sqlite://
Done.

[('abraham', 'barack'),
 ('abraham', 'clinton'),
 ('delano', 'herbert'),
 ('eisenhower', 'fillmore'),
 ('fillmore', 'abraham'),
 ('fillmore', 'delano'),
 ('fillmore', 'grover')]

Above, we see that the table has 7 rows and 2 columns: a `parent` and a `child` column. Meanwhile, the corresponding naming tree goes as the following,

<img src = 'dogs.png' width = 500/>

## Naming Tables

SQL is often used as an interactive language. For example, we only want to see the data in the database. For this reason, by default the result of a `select` or multiple `select`s statements `union`ed together won't be stored at all. 

The result of a `select` statement is displayed to the user, but not stored.

If we want to store it, give it a name and be able to use it later, we use a `create table` statement. A `create table` statement gives the result a name. The format is as the following,

In [ ]:
create table [name] as [select statement];

Thus, if we want to store the table that we created earlier as `parents`, we execute the following,

In [4]:
%%sql

create table parents as
    select "abraham" as parent, "barack" as child union
    select "abraham"          , "clinton"         union
    select "delano"          , "herbert"         union
    select "fillmore"          , "abraham"         union
    select "fillmore"          , "delano"         union
    select "fillmore"          , "grover"         union
    select "eisenhower"          , "fillmore";

 * sqlite://
Done.

[]

In [6]:
%%sql
select * from parents

 * sqlite://
Done.

[('abraham', 'barack'),
 ('abraham', 'clinton'),
 ('delano', 'herbert'),
 ('eisenhower', 'fillmore'),
 ('fillmore', 'abraham'),
 ('fillmore', 'delano'),
 ('fillmore', 'grover')]