In [2]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

# Joining Tables

So far we have been projecting one table. It turns out we can do more powerful operations by by joining tables together.

## Joining Two Tables

There are many kinds of `join`. Some ways have multiple names, which makes things more complicated. In this lecture, we are going to focus on one fundamental type.

Two tables `A` and `B` are joined by a comma `,` to yield all combinations of `a row from A` and `a row from B`.

Above is the fundamental idea of the meaning of joining 2 tables.

This time, let's create a table called `dogs` that has `name (string)` and `fur (string)`.

In [3]:
%%sql

create table dogs as
    select "abraham" as name, "long" as fur union
    select "barack", "short" union
    select "clinton", "long" union
    select "delano", "long" union
    select "eisenhower", "short" union
    select "fillmore", "curly" union
    select "grover", "short" union
    select "herbert", "curly";

 * sqlite://
Done.

[]

The representation of the table above is as the following,

<img src = 'dogs.png' width = 200/>

Now recall from previous lecture, we made a table of `parents`.

In [4]:
%%sql

create table parents as
    select "abraham" as parent, "barack" as child union
    select "abraham"          , "clinton"         union
    select "delano"          , "herbert"         union
    select "fillmore"          , "abraham"         union
    select "fillmore"          , "delano"         union
    select "fillmore"          , "grover"         union
    select "eisenhower"          , "fillmore";

 * sqlite://
Done.

[]

And thus, the representation can be described as a tree structure,

<img src = 'parent.png' width = 200/>

Now let's say we want the parents of curly-furred dogs. From the tree structure above, we see that `eisenhower` and `delano` should be the answers.

In [5]:
%%sql
select parent from parents, dogs
    where child = name and fur = "curly"

 * sqlite://
Done.

[('eisenhower',), ('delano',)]

Above, the `where` statement `child = name` is a relationship between the row that we've chosen the table `parents` and `dogs`. This technique works assuming that the name of the columns is unique (the 2 tables don't have columns with the same name).

## Demo

We can display the content of the `dogs` table with the following,

In [8]:
%%sql
select * from dogs;

 * sqlite://
Done.

[('abraham', 'long'),
 ('barack', 'short'),
 ('clinton', 'long'),
 ('delano', 'long'),
 ('eisenhower', 'short'),
 ('fillmore', 'curly'),
 ('grover', 'short'),
 ('herbert', 'curly')]

We can adjoin the 2 tables by the following,

In [10]:
%%sql
select * from parents, dogs;

 * sqlite://
Done.

[('abraham', 'barack', 'abraham', 'long'),
 ('abraham', 'barack', 'barack', 'short'),
 ('abraham', 'barack', 'clinton', 'long'),
 ('abraham', 'barack', 'delano', 'long'),
 ('abraham', 'barack', 'eisenhower', 'short'),
 ('abraham', 'barack', 'fillmore', 'curly'),
 ('abraham', 'barack', 'grover', 'short'),
 ('abraham', 'barack', 'herbert', 'curly'),
 ('abraham', 'clinton', 'abraham', 'long'),
 ('abraham', 'clinton', 'barack', 'short'),
 ('abraham', 'clinton', 'clinton', 'long'),
 ('abraham', 'clinton', 'delano', 'long'),
 ('abraham', 'clinton', 'eisenhower', 'short'),
 ('abraham', 'clinton', 'fillmore', 'curly'),
 ('abraham', 'clinton', 'grover', 'short'),
 ('abraham', 'clinton', 'herbert', 'curly'),
 ('delano', 'herbert', 'abraham', 'long'),
 ('delano', 'herbert', 'barack', 'short'),
 ('delano', 'herbert', 'clinton', 'long'),
 ('delano', 'herbert', 'delano', 'long'),
 ('delano', 'herbert', 'eisenhower', 'short'),
 ('delano', 'herbert', 'fillmore', 'curly'),
 ('delano', 'herbert', 'grover', 'short'),
 ('delano', 'herbert', 'herbert', 'curly'),
 ('eisenhower', 'fillmore', 'abraham', 'long'),
 ('eisenhower', 'fillmore', 'barack', 'short'),
 ('eisenhower', 'fillmore', 'clinton', 'long'),
 ('eisenhower', 'fillmore', 'delano', 'long'),
 ('eisenhower', 'fillmore', 'eisenhower', 'short'),
 ('eisenhower', 'fillmore', 'fillmore', 'curly'),
 ('eisenhower', 'fillmore', 'grover', 'short'),
 ('eisenhower', 'fillmore', 'herbert', 'curly'),
 ('fillmore', 'abraham', 'abraham', 'long'),
 ('fillmore', 'abraham', 'barack', 'short'),
 ('fillmore', 'abraham', 'clinton', 'long'),
 ('fillmore', 'abraham', 'delano', 'long'),
 ('fillmore', 'abraham', 'eisenhower', 'short'),
 ('fillmore', 'abraham', 'fillmore', 'curly'),
 ('fillmore', 'abraham', 'grover', 'short'),
 ('fillmore', 'abraham', 'herbert', 'curly'),
 ('fillmore', 'delano', 'abraham', 'long'),
 ('fillmore', 'delano', 'barack', 'short'),
 ('fillmore', 'delano', 'clinton', 'long'),
 ('fillmore', 'delano', 'delano', 'long'),
 ('fillmore', 'delano', 'eisenhower', 'short'),
 ('fillmore', 'delano', 'fillmore', 'curly'),
 ('fillmore', 'delano', 'grover', 'short'),
 ('fillmore', 'delano', 'herbert', 'curly'),
 ('fillmore', 'grover', 'abraham', 'long'),
 ('fillmore', 'grover', 'barack', 'short'),
 ('fillmore', 'grover', 'clinton', 'long'),
 ('fillmore', 'grover', 'delano', 'long'),
 ('fillmore', 'grover', 'eisenhower', 'short'),
 ('fillmore', 'grover', 'fillmore', 'curly'),
 ('fillmore', 'grover', 'grover', 'short'),
 ('fillmore', 'grover', 'herbert', 'curly')]

Above, we just exhaustively compute all the possible pairs of rows. Now let's try filtering it!

In [12]:
%%sql
select * from parents, dogs
    where child = name;

 * sqlite://
Done.

[('abraham', 'barack', 'barack', 'short'),
 ('abraham', 'clinton', 'clinton', 'long'),
 ('delano', 'herbert', 'herbert', 'curly'),
 ('eisenhower', 'fillmore', 'fillmore', 'curly'),
 ('fillmore', 'abraham', 'abraham', 'long'),
 ('fillmore', 'delano', 'delano', 'long'),
 ('fillmore', 'grover', 'grover', 'short')]

Above, we have 2 columns from each table paired up together. However, notice that for every row, the `child` and the `name` are the same! 

This time we'll filter the table further by only choosing the rows with `curly` fur,

In [13]:
%%sql
select * from parents, dogs
    where child = name and fur = "curly";

 * sqlite://
Done.

[('eisenhower', 'fillmore', 'fillmore', 'curly'),
 ('delano', 'herbert', 'herbert', 'curly')]

Now all we need is to be more specific with which column that we want. Instead of `select *`, we can `select` a column name.

In [14]:
%%sql
select parent from parents, dogs
    where child = name and fur = "curly";

 * sqlite://
Done.

[('eisenhower',), ('delano',)]