In [ ]:
%load_ext tutormagic

# Tuples

Tuples are sequences that are `immutable`. Immutable means unchangeable. Here is an example of a tuple,

In [62]:
(3, 4, 5, 6)

(3, 4, 5, 6)

We don't actually need parentheses to initiate a tuple. Anything separated by commas evaluates to a tuple.

In [63]:
3, 4, 5, 6

(3, 4, 5, 6)

We can make an empty tuple as well,

In [64]:
()

()

We can convert any sequence into a tuple,

In [65]:
tuple([3, 4, 5])

(3, 4, 5)

We can create a tuple with a single element. However, the syntax would look strange,

In [66]:
(2,)

(2,)

Or,

In [67]:
2,

(2,)

Note that the comma is necessary. If we try to make one without the comma, Python will return a value instead.

In [68]:
(2)

2

We can add together separate tuples,

In [69]:
(3, 4) + (5, 6)

(3, 4, 5, 6)

We can check if an element is in a tuple,

In [70]:
5 in (3, 4, 5)

True

We can use a tuple as a key in dictionaries,

In [71]:
{(1, 2): 3}

{(1, 2): 3}

Unlike list, we can't use list as a key in dictionaries.

In [72]:
{[1, 2] : 3}

TypeError: unhashable type: 'list'

We can have a list within a tuple,

In [ ]:
(1, [2])

However, we can't use it as a key in dictionaries,

In [ ]:
{(1, [2]) : 3}

## Tuples are Immutable Sequences

One advantage of immutable values is that it is protected from mutation.

The value of an expression can change because of changes in names or objects. An example of a name change is the following,

In [ ]:
x = 2
x + x

In [ ]:
x = 3
x + x

See that we used the same `x + x`. But because `x` changes, the value of the expression `x + x` also changes.

For object mutation, an example is the following,

In [ ]:
x = [1, 2]
x + x

In [ ]:
x.append(3)
x + x

These are 2 different ways the same expression can have a different value. With an immutable object, an object mutation can be avoided. However,

**An immutable sequence may still change if it contains a mutable value as an element**. An example is a list inside a tuple.

In [ ]:
s = ([1, 2], 3)

We can't change any element of the tuple,

In [ ]:
s[0] = 4

But we can change an element of the list inside the tuple.

In [ ]:
s[0][0] = 4
s