# Python and SQL

Python and SQL can be used together. A Python program can construct and execute SQL statements.

In [1]:
import sqlite3

SQLite3 has a class called `Connection`. To construct a connection, we pass in the name of a database file.

In [2]:
db = sqlite3.Connection("n.db")

Above we assign the variable `db` a connection object. This connection object can be used to execute sql statements.

For example, we can execute the following,

In [ ]:
db.execute("SELECT 2 UNION SELECT 3;")

Above should generate a 2 row, 1 column table. However, the statement above won't allow us to do much. Instead, we should give it a name within the database. In this example, we give the table the name `nums`.

In [5]:
db.execute("CREATE TABLE nums AS SELECT 2 UNION SELECT 3;")

As we can see above, we can construct SQL statements within Python as a series of strings. This time, let's insert some values to the table `nums`.

In [ ]:
db.execute("INSERT INTO nums VALUES (4), (5), (6);")

As an alternative, we can use a Python expression `range`,

In [6]:
db.execute("insert into nums values (?), (?), (?);", range(4, 7))

We can also read from a table,

In [9]:
print(db.execute("select * from nums;").fetchall())

[(2,), (3,), (4,), (5,), (6,)]

When we `select *` from `nums`, `execute` returns a **cursor object** that has a method `fetchall()` that can fetch all the contents of the resulting table as a list of tuples. 

As we can see, Python prints 5 tuples, in which each has one element: the content of the row. 

To ensure that the file representing the database, `n.db`, stores all the changes, we need to use the `commit` method,

In [11]:
db.commit()

If committing is successful, then the file `n.db` should contain all the contents of the database just as we constructed it by executing the series of SQL statement.

Everytime we run the cells that we went over above, we create a `n.db` file. Alternatively, we can create a `.py` file that contains the following code,

In [ ]:
import sqlite3

db = sqlite3.Connection("n.db")
db.execute("create table nums as select 2 union select 3;")
db.execute("insert into nums values (?), (?), (?);", range(4, 7))
print(db.execute("select * from nums;").fetchall())
db.commit()

If we start a `sqlite3` session using `n.db` as our database, the table `nums` will be already available by the time we start the session!

In [ ]:
(base) Ronalds-MacBook-Air:Lecture 35 - Databases ronaldyonggi$ sqlite3 n.db
SQLite version 3.24.0 2018-06-04 14:10:15
Enter ".help" for usage hints.
sqlite> select * from nums;
2
3
4
5
6

We just went over an example of how to write a Python program that interacts with SQLite database. We can also write Python programs for other kinds of databases.