In [1]:
%load_ext sql
%sql sqlite://

'Connected: @None'

# Modifying Tables

Creating an empty table is only useful if we can modify it. In fact, any table can be modified by inserting, deleting, or changing the rows.

## Insert

Here is the schematic of `insert` from SQLite documentation,

<img src = 'insert.png' width = 500/>

When specifying `expression` in `values` statement, each set of parentheses `()` creates one row. The comma `,` separates the values for the columns in that row.

<img src = 'expr.png' width = 200/>

For a table `t` with 2 columns, to insert into one column,

In [ ]:
insert into t(column) values (value);

The `(column)` in `t(column)` indicates which column we want to insert into. 

The `(value)` indicates the value that we want to insert for the column. 

With the statement above, a whole row will be inserted, while default values will be used for the other column. 

If we want to insert to both columns,

In [ ]:
insert into t values (value0, value1);

The 2 `insert` statements that we went over above both generates one row. If we want to insert more row, then we just add a comma `,` after the parentheses and add more values enclosed by parentheses.

## Demo

Let's create a table that keeps track of positive integers and whether they are prime.

In [2]:
%%sql
create table primes(n, prime);

 * sqlite://
Done.

[]

Above, we specified that the table `primes` contains 2 columns. 

Unfortunately, we forgot to apply column constraints when we created `primes`! Then we can just drop the table and start over.

In [3]:
%%sql
drop table if exists primes;

 * sqlite://
Done.

[]

Now let's check if the table `primes` is still present.

In [4]:
select * from primes;

SyntaxError: invalid syntax (<ipython-input-4-d4f339c20c14>, line 1)

We've confirmed that `primes` has been deleted. Now let's create a new one with a constraint that:
1. The values in column `n` has to be unique
2. The `prime` column has a default value.
    * We can't use `True` or `False` since there are no boolean values in SQLite.
    * Instead, we use `1` for `True` and `0` for `False`.

In [5]:
%%sql
create table primes(n unique, prime default 1);

 * sqlite://
Done.

[]

Now let's insert some values to `primes`!

In [7]:
%%sql
insert into primes values (2, 1), (3, 1);

 * sqlite://
2 rows affected.

[]

Now if we look at the content of `primes`,

In [8]:
%%sql
select * from primes;

 * sqlite://
Done.

[(2, 1), (3, 1)]

Now recall that the column `prime` has a default value `1`. This means if we insert only `n` values to the table `primes`, by default all the inserted values will all have `prime` values 1.

In [9]:
%%sql
insert into primes(n) values (4), (5), (6), (7);

 * sqlite://
4 rows affected.

[]

In [10]:
%%sql
select * from primes;

 * sqlite://
Done.

[(2, 1), (3, 1), (4, 1), (5, 1), (6, 1), (7, 1)]

There is an easy way of inserting more `n` to the table! We can do the following,

In [11]:
%%sql
insert into primes(n) select n+6 from primes;

 * sqlite://
6 rows affected.

[]

The `insert` statement above inserts `n` that was acquired from the `primes` table, with each of the `n` incremented by `6`, to the table `primes` itself.

In [12]:
%%sql
select * from primes;

 * sqlite://
Done.

[(2, 1),
 (3, 1),
 (4, 1),
 (5, 1),
 (6, 1),
 (7, 1),
 (8, 1),
 (9, 1),
 (10, 1),
 (11, 1),
 (12, 1),
 (13, 1)]

Recall that we set the column `n` to be unique! This means if we want to use the easy trick to add values, we need to make sure that the first `n` value is greater than the current `n` value, 13. If we ignored this and tried the same `insert` statement as previously done,

In [13]:
%%sql
insert into primes(n) select n+6 from primes;

 * sqlite://

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: primes.n
[SQL: insert into primes(n) select n+6 from primes;]
(Background on this error at: http://sqlalche.me/e/gkpj)

As we can see, an error was raised! Instead, we need to change `n+6` to `n+ (12 or greater)`.

In [14]:
%%sql
insert into primes(n) select n+12 from primes;

 * sqlite://
12 rows affected.

[]

## Update

It's also possible to update the contents of existing rows. 

<img src = 'update.png' width = 700/>

`Update` sets all entries in certain columns to new values, just for some subset of rows.

There are cases when we might don't want to update all the rows. In this case, we can add a filter using the `where` clause.

## Demo

Going back to the `primes` table,

In [15]:
%%sql
select * from primes;

 * sqlite://
Done.

[(2, 1),
 (3, 1),
 (4, 1),
 (5, 1),
 (6, 1),
 (7, 1),
 (8, 1),
 (9, 1),
 (10, 1),
 (11, 1),
 (12, 1),
 (13, 1),
 (14, 1),
 (15, 1),
 (16, 1),
 (17, 1),
 (18, 1),
 (19, 1),
 (20, 1),
 (21, 1),
 (22, 1),
 (23, 1),
 (24, 1),
 (25, 1)]

For starters, we know that all numbers divisible by `2` other than `2` itself are not prime! We can change the corresponding rows by the following,

In [16]:
%%sql
update primes set prime = 0 where n>2 and n%2=0;

 * sqlite://
11 rows affected.

[]

In [17]:
%%sql
select * from primes;

 * sqlite://
Done.

[(2, 1),
 (3, 1),
 (4, 0),
 (5, 1),
 (6, 0),
 (7, 1),
 (8, 0),
 (9, 1),
 (10, 0),
 (11, 1),
 (12, 0),
 (13, 1),
 (14, 0),
 (15, 1),
 (16, 0),
 (17, 1),
 (18, 0),
 (19, 1),
 (20, 0),
 (21, 1),
 (22, 0),
 (23, 1),
 (24, 0),
 (25, 1)]

All that's left is to do the same logic for multiple of `3` and `5`,

In [18]:
%%sql
update primes set prime = 0 where n > 3 and n % 3 = 0;
update primes set prime = 0 where n > 5 and n % 5 = 0;

 * sqlite://
7 rows affected.
4 rows affected.

[]

In [19]:
%%sql
select * from primes;

 * sqlite://
Done.

[(2, 1),
 (3, 1),
 (4, 0),
 (5, 1),
 (6, 0),
 (7, 1),
 (8, 0),
 (9, 0),
 (10, 0),
 (11, 1),
 (12, 0),
 (13, 1),
 (14, 0),
 (15, 0),
 (16, 0),
 (17, 1),
 (18, 0),
 (19, 1),
 (20, 0),
 (21, 0),
 (22, 0),
 (23, 1),
 (24, 0),
 (25, 0)]

This is an example showing that sometimes it's easier to build a table by manipulating the values in an existing table rather than trying to construct the table with correct values in the first place.

## Delete

It's also possible to `delete` rows. `Delete` removes some or all rows from a table. 

<img src = 'delete.png' width = 500/>

Beware that if we try to use `delete` without `where` expression, all rows within a table will be deleted. The table will be still present, but it will be empty.

## Demo

Here is an example of deleting all the rows that correspond to numbers that are not prime.

In [20]:
%%sql
delete from primes where prime = 0;

 * sqlite://
15 rows affected.

[]

In [21]:
%%sql
select * from primes;

 * sqlite://
Done.

[(2, 1), (3, 1), (5, 1), (7, 1), (11, 1), (13, 1), (17, 1), (19, 1), (23, 1)]